body{
    background: rgba(0, 0, 0, .9);
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 500ms;
}

.header:hover::after{
    filter: blur(0px);
    -webkit-filer: blur(0px);
}

.header:hover .header-content{
    filter: blur(1px);
    -webkit-filer: blur(1px);
}

.header-content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 350px;
    transition: all 500ms;
}

.header-content .img-perfil{
    height: 330px;
    width: 330px;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.text{
    line-height: 1.7;
    margin-top: 1rem;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1 rem;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.video grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}
.text-center{
    text-align: center;
    margin:auto;
}

.bg-light{
    background: #fff;
    color: #333;
}

.bg-dark{
    background: #2f3542;
    color: #fff;
}

.acerca{
    padding: 2rem 0;
}

.horario{
    padding: 2rem 0;
}

.video{
    padding: 2rem 0;
}

.acerca .text{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.icon-horario{
    margin-top: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-video{
    margin-top: 330px;
    margin-left: 170px;
    margin-right: 0px;
}

.formulario{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20pt;
    padding: 15px 10px 15px;
    background-color: #f0f0f0;
    color: #787575;
    width: 100%;
    outline: none;
}
.enviar {
    background-color: #333;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.enviar:hover {
    background-color: #787575;
}

textarea {
    height: 200px;
}
input, textarea {
    margin-bottom: 20px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
footer{
    padding: 2.2rem;
}

footer p{
    margin: 0;
}

@media(max-width: 560px){
    .header::after{
        height: 50vh;
    }

    .header-content{
        top: 5%;
        margin-top: 5px;
    }

    .header-content .img-perfil{
        height: 150px;
        width: 150px;
    }

    .header-content .text{
        display: none;
    }

    .grid-3, .grid-2{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .acerca .text{
        padding: 1rem 1rem;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .icon-horario{
        margin-top: 10px;
    }
    .icon-video{
      margin: 0;
      margin-bottom: 2rem;
    }
    .horario{
        padding: 1rem 0;
        height: 100%;
        width: 100%;
    }
    .text-table{
        border-collapse: collapse;
        font-size: 5pt;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .formulario{
        margin-top: 5px;
    }
    input, textarea {
        margin-right: 40px;
        padding: 15px 10px 10px;
        width: 80%;
    }
    
    .enviar {
        margin-right: 40px;
    }
}
@media(max-height: 500px){
    .header-content .text{
        display: none;
    }
    .header-content{
        margin-top: 0;
    }
    .acerca .text{
        padding: 1rem 50px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .icon-horario{
        display: none;
        
    }
    .icon-video{
        display: none;
    
    }
    .grid-2{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .horario{
        padding: 1rem 1rem;
        height: 100%;
        width: 100%;
    }
    .text-table{
        border-collapse: collapse;
        font-size: 9pt;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .formulario{
        margin-top: 5px;
    }
    input, textarea {
        margin-right: 40px;
        padding: 15px 10px 10px;
        width: 80%;
    }
    
    .enviar {
        margin-right: 40px;
    }
}