body{
    background: rgba(0, 0, 0, .9);
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header::after{
    content: '';
    height: 100vh;
    max-height: 800px;
    width: 100%;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 500ms;
}

.header:hover::after{
    filter: blur(0px);
    -webkit-filer: blur(0px);
}

.header:hover .header-content{
    filter: blur(1px);
    -webkit-filer: blur(1px);
}

.header-content{
    position: absolute;
    z-index: 1;
    top: 10%;
    margin-top: 100px;
    margin-left: 50%;
    left: -180px;
    text-align: center;
    width: 300px;
    height: 350px;
    transition: all 500ms;
}

.header-content{
    margin-top: -120px;
    height: 450px;
    width: 400px;
} 

.img-perfil{
    margin-top: 80px;
    width: 100%;
    max-width: 640px;
    
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.text{
    line-height: 1.7;
    margin-top: 1rem;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 3rem 1rem;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.text-center{
    text-align: center;
    margin:auto;
}

.bg-light{
    background: #fff;
    color: #333;
}

.bg-dark{
    background: #2f3542;
    color: #fff;
}

.acerca{
    padding: 2rem 0;
}

.horario{
    padding: 2rem 2rem;
}

.tabla{
    padding: 2rem 2rem;
}

@media screen and (max-width:800px){
    table{
        width:100%;
        display: block;
        overflow-x: auto;
        font-size: 48%;
    }
}
@media screen and (max-width:400px){
    table{
        width:100%;
        display: block;
        overflow-x: auto;
        font-size: 24%;
    }
}

.video{
    padding: 2rem 0;
    width: 100%;
}

.videoYT{
    margin-top: 10px;
    max-width: 640px;
}
.acerca .text{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.icon-horario{
    margin-top: 165px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-video{
    margin-top: 370px;
    margin-left: 70px;
    margin-right: 0px;
}

@media screen and (max-width:800px){
    .video{
        width:100%;
        display: block;
    }
    .icon-video{
        display: none;
    }
}
@media screen and (max-width:400px){
    .video{
        width:100%;
        display: block;
    }
    .icon-video{
        display: none;
    }
}

.formulario{
    padding: 2rem 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20pt;
    background-color: #f0f0f0;
    color: #787575;
    margin: auto;
}

.form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
}
.enviar {
    background-color: #333;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.enviar:hover {
    background-color: #787575;
}

textarea {
    height: 200px;
}
input, textarea {
    margin-bottom: 20px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
footer{
    padding: 2.2rem;
}

footer p{
    margin: 0;
}