body{
    background: rgba(0, 0, 0, .9);
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width:1366px;
    max-width: 1920px;
    margin:0 auto;
    overflow: hidden;
    
}

.header::after{
    content: '';
    height: 100vh;
    max-height: 800px;
    width: 100%;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 500ms;
}

.header:hover::after{
    filter: blur(0px);
    -webkit-filer: blur(0px);
}

.header:hover .header-content{
    filter: blur(1px);
    -webkit-filer: blur(1px);
}

.header-content{
    position: absolute;
    z-index: 1;
    top: 10%;
    margin-top: -120px;
    margin-left: 50%;
    left: -180px;
    text-align: center;
    height: 450px;
    width: 400px;
    transition: all 500ms;
}


.img-perfil{
    margin-top: 80px;
    width: 100%;
    max-width: 640px;
    
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.inicio{
    color: #787575;
}

.text{
    line-height: 1.7;
    margin-top: 1rem;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 3rem 1rem;
}

.icon i{
    color: white;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.text-center{
    text-align: center;
    margin:auto;
}

.bg-light{
    background: #fff;
    color: #333;
}

.bg-dark{
    background: #2f3542;
    color: #fff;
}

.acerca{
    padding: 2rem 0;
}

.horario{
    padding: 2rem 2rem;
}

.tabla{
    padding: 2rem 2rem;

}

.video{
    padding: 2rem 0;
    width: 100%;
}

.videoYT{
    margin-top: -60px;
    max-width: 640px;
}
.acerca .text{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.icon-horario{
    margin-top: 165px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-video{
    margin-top: 300px;
    margin-left: 70px;
    margin-right: 0px;
}


.formulario{
    padding: 1rem 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20pt;
    background-color: #f0f0f0;
    color: #787575;
    margin: auto;
}

.enviar {
    background-color: #333;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.enviar:hover {
    background-color: #787575;
}

textarea {
    height: 200px;
}
input, textarea {
    margin-bottom: 20px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
footer{
    padding: 2.2rem;
}

footer p{
    margin: 0;
}


@media only screen and (max-width:480px){
    
    .contenedor{
        max-width: 480px;
    }
    
    table{
        width:100%;
        display: block;
        overflow-x: auto;
        font-size: 44.5%;
    }
    .icon-horario{
        display: none;
    }
    iframe{
        width: 320px;
        height: 280px;
        margin: 5px;
        
    }
    .icon-video{
        display: none;
    }
    .img-perfil{
        margin-top: 0;
        height: 200px;
        width: 200px;
        max-width: 200px;
    }
    .header::after{
        height: 60vh;
    }

    .header-content{
        top: 0.75rem;
        margin-left: 21rem;
        margin-top: 1rem;
    }

    .grid-3, .grid-2{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .acerca .text{
        margin-top: 50px;

    }
}

@media screen and (max-width:720px){
    .contenedor{
        max-width:720px;
    }
    table{
        width:100%;
        display: block;
        font-size: 56%;
    }
    .video{
        max-width: 100%;
    }

    .icon-video{
        display: none;
    }
}

@media only screen and (min-width:720px) and (max-width:800px){
    .contenedor{
        max-width:800px;
    }
    
    table{
        width:100%;
        display: block;
        font-size: 73%;
    }

    .video{
        max-width: 100%;
    }

    .icon-video{
        display: none;
    }

}

@media screen and (min-width:800px) and (max-width:880px){
    .contenedor{
        max-width:880px;
    }
    table{
        width:100%;
        display: block;
        font-size: 90%;
    }

    .video{
        max-width: 100%;
    }

    .icon-video{
        display: none;
    }
}


@media screen and (min-width:880px) and (max-width:960px){
    .contenedor{
        max-width:960px;
    }
    table{
        width:100%;
        display: block;
    }   
}

@media only screen and (max-height: 500px){
    .img-perfil{
        margin-top: 0;
        height: 250px;
        width: 250px;
    }
    .header::after{
        height: 140vh;
    }

    .header-content{
        top: 0.75rem;
        margin-left: 21rem;
        margin-top: 0;
    }
    .acerca .text{
        padding: 1rem 50px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .icon-horario{
        display: none;
        
    }
    .icon-video{
        display: none;
    
    }
    .grid-2{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .horario{
        padding: 1rem 1rem;
        height: 100%;
        width: 100%;
    }
    .text-table{
        border-collapse: collapse;
        font-size: 9pt;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .formulario{
        margin-top: 5px;
    }
    input, textarea {
        margin-right: 40px;
        padding: 15px 10px 10px;
        width: 80%;
    }
    
    .enviar {
        margin-right: 40px;
    }
}
